main {
  padding: 20px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.form input {
  height: 50px;
  padding-left: 20px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.104);
  font-size: 24px;
}

.meme-button {
  grid-column: 1 / span 2;
  background: linear-gradient(90deg, rgba(97, 252, 239, 0.792), rgb(92, 159, 240));
  border: none;
  height: 50px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.774);
  cursor: pointer;
}

.meme-image {
  max-width: 100%;
  margin-top: 40px;
}

.meme-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top-text {
  top: 35px;
}

.bottom-text {
  bottom: 0;
}